.navbar{
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
   z-index: 0;
}
.navbar .logo{
    height: 50px ;
    width: 50px ;
   
}
.navbar .nav{
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 30px;
    padding-right: 70px;
}
.navbar .link{
    text-decoration: none;
    color: var(--secondary-text-d);
    opacity: 0.7;
    font-size: 17px;
}
.navbar .link:hover{
    opacity: 1;
    color: var(--primary-dark);
}
.navbar header{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10px;
    font-weight: bolder;
    width: 50vw;
    color: var(--primary-dark)
    
}
.navbar section{
    padding-left: 40px;
    display: inline-flex;
    gap: 10px;
    align-items:center ;
    justify-content: center;
}
.link:hover{
    opacity: 1;
}
.navbar section .logo{
    background-color: var(--bg-dark);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px !important;
}

@media only screen and (max-width:800px) {
    .navbar .nav{
        display: none;
    }
    .navbar section .logo{
        height: 50px;
        width: 50px;
    }

}