#root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --bg-light : white;
    --primary-light : #007BFF;
    --primary-text-l:black;
    --secondary-text-l : #707070;
    --bg-dark : #1e1e1e;
    --primary-text-d:#FFFFFF;
    --secondary-text-d:#b0b0b0;
    --primary-dark:#ffffff;
    --cd-bg-dark:#333333;
    background-color: var(--bg-dark);
    height: 100vh;
}
